body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    margin:auto;
}

.head {
    flex-basis: 15%;
    background-color: pink;
    margin:0px;
}

.container1 {
    background-image: url(/ttt/img/sora-sagano-8sOZJ8JF0S8-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-color: red;
}

.container2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.page1 {
    background-image: url(/ttt/img/tomoko-uji-eriuKJwcdjI-unsplash.jpg);
}
































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    
